baseURL = "https://flohmarktfunde.projektemacher.org/"
languageCode = "de"
title = "Flohmarktfunde"
publishDir = "docs"
canonifyurls = true
languagecode = "de"
defaultcontentlanguage = "de"
disablePathToLower = true
theme = "observer-hugo"
enableGitInfo = true

[params]
    copyrightYears = "2014 - 2020"
    logo = "/images/logo.png"
    linkTumblr = true
    author = "Christian Mahnke"
    keywords = "Flohmarkt, Trödel, Antiquariat, Flea market, Göttingen, Bremen"
    description = "Fundstücke vom Flohmarkt und aus Trödelläden"

[params.author]
    email = 'mail@christianmahnke.de'
    name = 'Christian Mahnke'
    uri = 'http://www.wikidata.org/entity/Q137668638'

[menu]
    [[menu.main]]
        name = "Home"
        weight = 1
        url = "/"

    [[menu.main]]
        name = "Über dieses Blog"
        weight = 2
        url = "about/"

    [[menu.main]]
        name = "Flohmärkte und Trödelläden"
        weight = 3
        url = "sources/"

    [[menu.main]]
        name = "Informationsquellen"
        weight = 4
        url = "links/"

[markup]
    defaultMarkdownHandler = 'goldmark'

[markup.goldmark]
    [markup.goldmark.renderer]
        unsafe= true

    [markup.goldmark.extensions]
        attribute = true
        strikethrough = true

    [markup.goldmark.extensions.typographer]
        apostrophe = '&rsquo;'
        disable = false
        ellipsis = '&hellip;'
        emDash = '&mdash;'
        enDash = '&ndash;'
        leftAngleQuote = '&laquo;'
        leftDoubleQuote = '&ldquo;'
        leftSingleQuote = '&lsquo;'
        rightAngleQuote = '&raquo;'
        rightDoubleQuote = '&rdquo;'
        rightSingleQuote = '&rsquo;'

    [markup.goldmark.extensions.extras]
        [markup.goldmark.extensions.extras.insert]
            enable = true
        [markup.goldmark.extensions.extras.mark]
            enable = true
        [markup.goldmark.extensions.extras.subscript]
            enable = true
        [markup.goldmark.extensions.extras.superscript]
            enable = true

    [markup.goldmark.parser]
        autoHeadingID = true
        autoHeadingIDType = "github"

[module]
    [[module.mounts]]
        source = "assets/scss"
        target = "assets/scss"

    [[module.mounts]]
        source = "node_modules/jquery/dist"
        target = "assets/js/jquery"

    [[module.mounts]]
        source = "static"
        target = "static"

[build]
  writeStats = true

[security]
  [security.http]
    mediaTypes = ['^application/json$', '^application/json;\s?charset=[uU][tT][fF]-8$', '^application/sparql-results\+json;\s?charset=[uU][tT][fF]-8$']
