@import "observer";
@import "disable-lang";
$color-bg: #fff;
$color-sec-text: #888888;
$color-body-text: #333333;
$color-link-text: #333333;
$color-link-hover: #333333;
$color-link-active: #333333;
$color-header-text: #444444;
$font-header: futura;
$font-title: futura;
$font-body: futura;
$font-sec: futura;
$font-menu: futura;

.blog-title h1 {
    font-family: $font-header, futura, helvetica, arial, sans-serif;
    font-weight: bold;
    font-size: 76px;
    line-height: 1em;
    margin-top: 1.5rem;
}

@media screen and (max-width: 900px) {
    .blog-title h1 {
        font-size: 5rem;
    }
}

@media screen and (max-width: 740px) {
    .blog-title h1 {
        font-size: 3rem;
    }
}

@media screen and (max-width: 440px) {
    .blog-title h1 {
        font-size: 2rem;
    }

    #header .links {
        .menu-title, .menu-title-short {
            a {
                font-size: 1.4rem;
            }
        }
    }
}

.caption {
    font-family: $font-body, futura, helvetica, arial, sans-serif !important;

    img {
        max-width: 100%;
    }
}

.tumblr-url {
    display: none;
}

#header {
    font-family: $font-menu;
}

.caption ul {
    margin-bottom: 1rem;
}

.links .menu {
  gap: .6rem;
}
